* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body{
  font-family: 'Nunito','Termina Test', sans-serif;
  // to allow for footer
  margin-bottom: 60px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0 5px 0 #9E9E9E;
  border-radius: 15px;
  background-color: whitesmoke;
}

nav button{
  border: none;
  background-color: whitesmoke;
}

main {
  min-height: calc(100vh - 196px);
}

h3 {
  font-size: 1.75em;
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: #494848;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

footer p {
  margin: 0;
}