.about-us{
  padding-right: calc(100vw/5);
  padding-left: calc(100vw/5);
  @include flex(column, center, center);
  text-align: center;
  // max-width:100em;
}

.devLinks a{
  color: ($secondary-color);
}

.devLinks a:hover {
  color: ($tertiary-color)
}