

.admin-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-search{
  width: 70%;
}
.admin-search input{
  font-size: 1.5em;
  text-align: center;
}
.negative-results{
  margin-top: 10vh;
}