main {
  @include flex(row, flex-start, flex-start);
}

.filter-container {
  border-right: 1px solid $primary-color;
  padding: 2em;
  width: calc(100vw/5);
  min-width: 250px;
}

.filter-container h3 {
  text-align: end;
  width: 100%;
  border-bottom: 1px solid $primary-color;
}

.filter-selection select, .search {
  border: 1px solid $primary-color;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.search::placeholder {
  color: black;
}

.filter-sliders-container {
  width: 100%;
  // border: 1px solid $primary-color;
  padding-left: 10px;
  padding-right: 10px;
  // margin: 5px;
  // border-radius: 10px;
}

.filter-sliders-container label {
  padding-bottom: 10px;
}

.art-grid {
  margin-left: 2em;
}