:root {
  --lightest: white;
}

.carousel {
  margin: 15px;
  height: 60vh;
}

.carousel-inner{
  text-align: center;
  height: 70vh;
}

.carouselSlideImage {
  height: 60vh;
}

// artist writing
.carousel-caption {
  position: absolute;
  bottom: unset;
  // animation: fadeIn 1s;
}

// @keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

// carousel lines at the bottom
[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
  background-color: var(--lightest);
}