@import './artistProfile.scss';
@import './appreciatorProfile.scss';


.profile-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-body, .artistcollection, .profilepic{
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 5px 0 #9E9E9E;
}

.artistcollection, .profilepic{
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 5px 0 #9E9E9E;
}

.profile-body{
  min-height: 40vh;
}

.body-instance{
  background-color: antiquewhite;
  margin: 15px;
  padding: 15px;
}