@import './artistProfile.scss';
@import './appreciatorProfile.scss';
@import './adminProfile.scss';


.profile-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-body, .artistcollection, .profilePic{
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 5px 0 #9E9E9E;
}

.artistcollection, .profilePic, .artworkPic{
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 5px 0 #9E9E9E;
}

.profile-body{
  min-height: 40vh;
}

.body-instance{
  background-color: antiquewhite;
  margin: 15px;
  padding: 15px;
}

.profile-pic-preview {
  height: 50px;
}

// Image Uploader Section
.profileImageUploadSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 576px) {
    flex-direction: column-reverse;
  }
}

.imgUploadButton {
  width: 150px;
}

input::file-selector-button {
  padding: 6px;
  border: 2px solid forestgreen;
  background-color: darkseagreen;
  color: whitesmoke;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

input::file-selector-button:hover {
  background-color: forestgreen;
}

.artUploadField {
  width: 400px;
}