fieldset{
  border: 1px solid lightskyblue;
}

.nobueno{
  background-color: indianred;
  color: white;
  text-align: center;
  padding: 1em;
}

legend{
  text-align: center;
}

legend, label{
  margin-top: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, select{
  width: 400px;
  border: none;
  background-color: lightblue;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid royalblue;
}

input::placeholder {
  color: whitesmoke
}

form button{
  margin: 20px;
  padding: 6px 40px;
  border: 2px solid forestgreen;
  background-color: darkseagreen;
  color: whitesmoke;
  border-radius: 10px;
}